[req]
distinguished_name = info
x509_extensions = v3_req
prompt = no

[info]
C = FI
ST = Your State
L = Oulu
O = localhost
CN = localhost

[v3_req]
keyUsage = critical, digitalSignature, keyAgreement
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[alt_names]
DNS.1 = localhost
DNS.2 = www.localhost.com
DNS.2 = 127.0.0.1
